[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[project]
	description = Plugin that sends heartbeat stream event.\n\nMain use case for this plugin is to always keep stream events alive so Jenkins\nGerrit-Trigger connection watchdog doesn't force reconnection when it detects no\nstream events activity.
[access "refs/*"]
	owner = group plugins-heartbeat
